.services__container{
    background-color: var(--white-line);
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__title{
    font-size: 52px;
    color: var(--accent);
}