@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
        --container-width: 1430px;
        --container-padding: 14px;
    
        --font-main: 'Lato', sans-serif;
    
        --page-bg: #e7e7e7;
        --accent: #d00b0e;
        --white: #fff;
        --black: #000;
		--white-line: #ffffff38;
		--black-line: #00000038;
		--border-color: rgba(0, 0, 0, 0.3);
    
        --laptop-size: 1430px;
        --tablet-size: 920px;
        --mobile-size: 320px;
    
	/* Nav */
	--nav-bg: var(--black);
	--nav-border: var(--black);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
    --line: var(--black-line);

	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
	/* Dark mode */
	--page-bg: #0f0f0f;
	--text-color: var(--white);
    --line: var(--white-line);


	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8); 
	--nav-border: var(--white);
 }

 .red{
	--page-bg: var(--accent);
	--text-color: var(--white);
    --line: var(--white-line);
 }

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Lato', sans-serif;
	letter-spacing: -0.5px;

	background-color: var(--page-bg);
	color: var(--text-color);
	text-wrap: balance;
}

/* General */

.container {
	margin: 20px auto;
	padding: 14px 15px;
	max-width: 1430px;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
}